<!DOCTYPE html>
<html>
    <!--
  * Please see the included README.md file for license terms and conditions.
  -->

    <head>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" class="uib-framework-theme">
        <meta charset="UTF-8">
        <title>Add Task - Task Manager App</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <!--
  * The "meta viewport" tag (below) helps your app size appropriately to a device's ideal viewport.
  * Note that Windows device viewports work better when initialized using the @viewport CSS rule.
  * For a quick overview of "meta viewport" and @viewport, see this article:
  *   http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag
  * To see how it works, try your app on a real device with and without a "meta viewport" tag.
  * Additional useful references include:
  *   http://www.quirksmode.org/mobile/viewports.html
  *   http://www.quirksmode.org/mobile/metaviewport/devices.html
  *   https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
-->

        <!-- <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"> -->
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=2"> -->

        <style>
            /* following three (cascaded) are equivalent to above three meta viewport statements */
            /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
            /* see http://dev.w3.org/csswg/css-device-adapt/ */
                @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
                @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
                /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
        </style>

        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">

        <!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
        <!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work below -->
        <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->

        <!-- Recommended location for your JavaScript libraries -->
        <!-- These library references (below) are just examples to give you the general idea... -->
        <!-- <script src="lib/mc/hammer.js"></script> -->
        <!-- <script src="lib/ft/fastclick.js"></script> -->

        <!--
  * cordova.js is a phantom lib for "Cordova HTML5 web app," it does nothing in a "Standard HTML5 web app"
  * Seeing a "Failed to load resource: net::ERR_FILE_NOT_FOUND" message caused by this "cordova.js" script?
  * The cordova.js script is required if you convert your "Standard HTML5" project into a "Cordova" project.
  * You can safely ignore the error or comment out this line if you will not be developing a Cordova app.
-->
        <script src="cordova.js" id="xdkJScordova_"></script>

        <script src="js/app.js"></script>
        <!-- for your event code, see README and file comments for details -->
        <script src="js/init-app.js"></script>
        <!-- for your init code, see README and file comments for details -->
        <script src="xdk/init-dev.js"></script>
        <!-- normalizes device and document ready events, see file for details -->
        <script type="application/javascript" src="lib/jquery.min.js"></script>
        <script type="application/javascript" src="marginal/marginal-position.min.js"></script>
    </head>

    <body ng-app="">
        <!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
        <!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work above -->
        <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->
        <div class="upage" id="mainpage">
            <form name="myForm" id="myForm" novalidate="" method="post" ng-submit="myForm.$valid">
                <div class="upage-outer">
                    <div class="uib-header header-bg container-group inner-element uib_w_1" data-uib="layout/header" data-ver="0">
                        <h2 style="text-align: left; padding-left: 5px;">Add New Task</h2>
                        <div class="widget-container wrapping-col single-centered"></div>
                        <div class="widget-container content-area horiz-area wrapping-col left"></div>
                        <div class="widget-container content-area horiz-area wrapping-col right"></div>
                    </div>

                    <div class="upage-content ac0 content-area vertical-col left" id="page_11_35">

                        <div class="grid grid-pad urow uib_row_1 row-height-1" data-uib="layout/row" data-ver="0">
                            <div class="col uib_col_1 col-0_12-12" data-uib="layout/col" data-ver="0">
                                <div class="widget-container content-area vertical-col">
                                    <div class="table-thing widget uib_w_5 d-margins" data-uib="twitter%20bootstrap/text_area" data-ver="1">
                                        <label class="label-inline">Description</label>
                                        <textarea rows="4" class="wide-control form-control textarear" wrap="soft" name="description" ng-model="description" required autofocus id="description"></textarea>
                                        <span class="error" ng-show="myForm.description.$touched &amp;&amp; myForm.description.$invalid || myForm.description.$dirty &amp;&amp; myForm.description.$invalid">A description is required.</span>
                                    </div>
                                    <br>
                                    <div class="table-thing widget uib_w_6 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                                        <label>Due Date</label>
                                        <input class="wide-control form-control default textbox" type="date" name="duedate" ng-model="duedate" required id="duedate">
                                        <span class="error" ng-show="myForm.duedate.$touched &amp;&amp; myForm.duedate.$invalid || myForm.duedate.$dirty &amp;&amp; myForm.duedate.$invalid">A date is required.</span>
                                    </div>
                                    <br>
                                    <div class="table-thing widget uib_w_7 d-margins" data-uib="twitter%20bootstrap/select" data-ver="1">
                                        <label>Assign To</label>
                                        <select class="wide-control form-control default selecter" name="person" id="person">
                                            <script type="text/javascript">
                                            var xhr = new XMLHttpRequest();
                                            xhr.open("GET", "https://myfuelpump.com/task/index.php/Sendapi_controller/data", false);
                                            xhr.onload = function(){
                                            if(xhr.status == 200)
                                            {
                                                var json_string = xhr.responseText;
                                                var json = JSON.parse(json_string);
                                                for(var i=0; i<=json.people.length; i++)
                                                {
                                                    document.write("<option value="+json.people[i].person_id+">"+json.people[i].email+"</option>");
                                                }
                                            }
                                            else if(xhr.status == 404)
                                            {
                                                alert("Web Service Doesn't Exist");
                                            }
                                            else
                                            {
                                                alert("Unknown error occured while connecting to server");
                                            }
                                            }
                                            xhr.send();
                                        </script>
                                        </select>
                                    </div><span class="uib_shim"></span>
                                </div>
                            </div>
                            <span class="uib_shim"></span>
                        </div>

                    </div>
                </div>
        </div>
        <div class="footer2">
            <button class="btn widget uib_w_4 d-margins btn-default button btn_g" data-uib="twitter%20bootstrap/button" data-ver="1" ng-disabled=myForm.$invalid>Add Task</button>
            <script type="text/javascript">
            $(document).ready(function(){
                                      $('#myForm').submit(function(){
                                          var description = document.getElementById("description").value;
                                          var duedate = document.getElementById("duedate").value;
                                          var person = document.getElementById("person").value;
                                          var jsondata = description+";"+duedate+";"+person;
                                          
                                          jQuery.ajax({
                                              type: "POST",
                                              url: "https://myfuelpump.com/task/index.php/Receiveapi_controller/task/",
                                              data: jsondata,
                                              contentType: "application/json",
                                              dataType: "json"
                                          });
                                          $( location ).attr("href", "dash.html");
                                      });  
                                    });
            </script>
            </form>
            <button onclick="location.href='dash.html'" class="btn widget uib_w_4 d-margins btn-default button btn_r" data-uib="twitter%20bootstrap/button" data-ver="1">Cancel</button>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </body>

</html>